{# app/Resources/views/default/success.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h2>
            {{ status_message }}
        </h2>
    </div>
{% endblock %}
